.place__title {
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  max-width: 440px;
  margin: 0px;
}

@media all and (max-width: 1280px) {
  .place__title {
    font-size: 4.5rem;
    line-height: 76px;
  }
}
  
@media all and (max-width: 1024px) {
  .place__title {
    font-size: 4.5rem;
    line-height: 76px;
  }
}
  
@media all and (max-width: 768px) {
  .place__title {
    font-size: 2.625rem;
    line-height: 46px;
  }
}
  
@media all and (max-width: 320px) {
  .place__title {
    font-size: 2rem;
    line-height: 35px;
  }
}