.cover__subtitle {
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  max-width: 360px;
  margin: 32px auto 0px auto;
  text-align: center;
}

@media all and (max-width: 1280px) {
  .cover__subtitle {
  }
}
  
@media all and (max-width: 1024px) {
  .cover__subtitle {
  }
}
  
@media all and (max-width: 768px) {
  .cover__subtitle {
  }
}
  
@media all and (max-width: 320px) {
  .cover__subtitle {
    font-size: 0.875rem;
    line-height: 16px;
    max-width: 288px;
  }
}