.footer {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
  max-width: 928px;
  margin: 92px auto 0px auto;
  align-content: center;
  justify-content: center;
}

@media all and (max-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}
  
@media all and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
  
@media all and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}
  
@media all and (max-width: 320px) {
  .footer {
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
    gap: 48px 0px;
    justify-content: left;
    margin: 64px auto 24px 16px;
  }
}